<mat-card class="container mb-3">
    <mat-card class="col" style="align-items: center;">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>Please select locations in the blue circle</mat-card-title>
            <span style="flex: 1 1 auto;"></span>
            <button mat-icon-button (click)="refresh()"><mat-icon>refresh</mat-icon></button> </mat-card-header>
        <div>
            <div class="row justify-content-center">
                <div class="pac-card text-left p-2" id="pac-card" style="font-size: medium;">
                    <div style="font-size: 12px;">
                        <div id="title">Search Location</div>
                        <div id="type-selector" class="pac-controls" style="display: none;">
                            <input type="radio" name="type" id="changetype-all" checked="checked" />
                            <label for="changetype-all">All</label>

                            <input type="radio" name="type" id="changetype-establishment" />
                            <label for="changetype-establishment">Establishments</label>

                            <input type="radio" name="type" id="changetype-address" />
                            <label for="changetype-address">Addresses</label>

                            <input type="radio" name="type" id="changetype-geocode" />
                            <label for="changetype-geocode">Geocodes</label>
                        </div>
                        <br />
                        <div id="strict-bounds-selector" class="pac-controls" style="display: none;">
                            <input type="checkbox" id="use-location-bias" value="" checked />
                            <label for="use-location-bias">Bias to map viewport</label>

                            <input type="checkbox" id="use-strict-bounds" value="" />
                            <label for="use-strict-bounds">Strict bounds</label>
                        </div>
                    </div>
                    <div id="pac-container">
                        <input id="pac-input" type="text" placeholder="Enter a location" />
                    </div>
                </div>
            </div>
            <agm-map [latitude]="my_lat" [longitude]="my_lng" [zoom]="zoom" (mapReady)="mapReadyHandler($event)">
                <!-- home -->
                <agm-marker (markerClick)="clickedMarker('', 0)" [latitude]="my_lat" [longitude]="my_lng" [label]="'H'" [markerDraggable]="false">
                    <agm-info-window>
                        <strong>lat : {{my_lat}} <br> lng : {{my_lng}}</strong><br>
                        <strong>address : {{my_adr}}</strong>
                    </agm-info-window>
                </agm-marker>
                <!-- new -->
                <agm-marker *ngFor="let m of locations; let i = index" (markerClick)="clickedMarker(m.label+'', i)" [latitude]="m.loc.lat" [longitude]="m.loc.lng" [label]="m.label+''" [markerDraggable]="true" (dragEnd)="markerDragEnd(m, $event)">
                    <agm-info-window>
                        <strong>lat : {{m.loc.lat}} ,&nbsp; lng : {{m.loc.lng}}</strong><br>
                        <strong>address : {{m.address}} <br> distance : {{m.distance/1000}} Km</strong><br>
                        <strong>traffic : {{m.traffic | timezn}} </strong>
                    </agm-info-window>
                </agm-marker>
                <!-- <agm-circle [latitude]="my_lat" [longitude]="my_lng" [radius]="40000" [fillColor]="'blue'" [circleDraggable]="false" [editable]="false" [clickable]="false">
                </agm-circle>
                <agm-circle [latitude]="my_lat" [longitude]="my_lng" [radius]="10000" [fillColor]="'red'" [circleDraggable]="false" [editable]="false" [clickable]="true">
                </agm-circle> -->
            </agm-map>
        </div>
        <mat-progress-spinner [diameter]="30" class="example-margin mr-2 mt-2 float-right" color="primary" mode="indeterminate" *ngIf="isLoader">
        </mat-progress-spinner>
        <div class="container text-center mt-2" *ngIf="err">
            <div class="alert alert-danger" role="alert">
                A maximum number of locations exceeds !
            </div>
        </div>
        <div class="container text-center mt-2" *ngIf="err_outofrng">
            <div class="alert alert-danger" role="alert">
                Out of range !
            </div>
        </div>
    </mat-card>
    <app-loc-view class="col" [locations]="locations" (newItemEvent)="rmvItem($event)"></app-loc-view>
</mat-card>

<!-- <div class="container">

    <h1>Angular Google Map with Search Box Example - ItSolutionStuff.com</h1>

    <div class="form-group">
        <label>Enter address</label>
        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>

    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
    </agm-map>

    <h5>Address: {{address}}</h5>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>

</div> -->