.mat-form-field {
    display: unset;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: unset;
}

.mat-card-actions {
    margin-bottom: unset;
}

.callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.callout-info {
    background-color: #f4f8fa;
    border-color: #d40e00;
}

.title {
    /* background-color: #E6F5FD; */
    /* border-color: #c5f1fa; */
    color: #3B799A;
    font-size: medium;
    text-align: center;
}

button {
    border-radius: unset !important;
    line-height: unset !important;
}